@import '@fontsource/alice';
@import '@fontsource/sacramento';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
	font-family: 'Alice', sans-serif;
	background-color: #fafafa;
}
